@model recipes.ViewModels.Global.NavBarPartialViewModel
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">recipes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Recipe"
                            asp-action="Search">Recipes</a>
                    </li>
                    @if (Model.Username == null)
                    {
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Session" asp-action="SignIn">Sign
                                in</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Session" asp-action="SignUp">Sign
                                up</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Session" asp-action="UserPanel">User
                                panel</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Session" asp-action="LogOut">Log
                                out</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Recipe"
                                asp-action="AddRecipeValidation">Add recipe</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>